<section id="about" class="about">
  <div class="wrapper">
    <div class="about__box">
      <div class="about__info">
        <h2 class="about__title">О компании</h2>
        <p class="about__description">
          Мы предлагаем услуги по установке отопления под ключ быстро,
          качественно и по доступным ценам. Выгодное
          <span class="about__description--mark"
            >сотрудничество с профессионалами</span
          >.
        </p>
        <br />
        <p class="about__description">
          Наша компания выполнит монтаж систем отопления в саратовских
          квартирах, частных домовладениях, промышленных объектах, складских
          помещения, объектах социальной инфраструктуры и офисах.
        </p>
      </div>
      <img src="../img/about/worker.jfif" alt="" class="about__img" />
      <div class="about__benefits">
        <div class="about__advantage">
          <img
            src="../img/about/experience.svg"
            alt=""
            class="about__advantageIcon"
          />
          <h4 class="about__advantageTitle">10 лет опыта работы</h4>
          <p class="about__advantageText">
            Качественная работа, проверенная временем
          </p>
        </div>

        <div class="about__advantage">
          <img
            src="../img/about/collaboration.svg"
            alt=""
            class="about__advantageIcon"
          />
          <h4 class="about__advantageTitle">Коллектив профессионалов,</h4>
          <p class="about__advantageText">
            стремящийся удовлетворить все Ваши потребности и предложить лучшие
            решения
          </p>
        </div>

        <div class="about__advantage">
          <img
            src="../img/about/work-list.svg"
            alt=""
            class="about__advantageIcon"
          />
          <h4 class="about__advantageTitle">Контроль качества</h4>
          <p class="about__advantageText">
            работ после каждой технологической операции
          </p>
        </div>

        <div class="about__advantage">
          <img
            src="../img/about/tools.svg"
            alt=""
            class="about__advantageIcon"
          />
          <h4 class="about__advantageTitle">Сервисное обслуживание</h4>
          <p class="about__advantageText">
            гарантирует экономичное и технологичное успешное производство
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
