<header class="header">
  <div class="wrapper">
    <div class="header__box">
      <img src="../img/logo.svg" alt="Теплотехника24" class="header__logo" />

      <button type="button" class="header__burger"><span></span></button>

      <nav class="header__menu">
        <a href="#about" class="header__link">О компании</a>
        <a href="#services" class="header__link">Услуги</a>
        <a href="#portfolio" class="header__link">Портфолио</a>
        <a href="#reviews" class="header__link">Отзывы</a>
        <a href="#stages" class="header__link">Этапы работ</a>
        <a href="#contacts" class="header__link">Контакты</a>
      </nav>

      <a href="tel:+79063180616" class="header__phone">+7 906 318 06 16</a>

      <div class="mobileMenu">
        <div class="mobileMenu__block">
          <h3 class="mobileMenu__title">Меню</h3>

          <div class="mobileMenu__menu">
            <a href="#about" class="mobileMenu__link">О компании</a>
            <a href="#services" class="mobileMenu__link">Услуги</a>
            <a href="#portfolio" class="mobileMenu__link">Портфолио</a>
            <a href="#reviews" class="mobileMenu__link">Отзывы</a>
            <a href="#" class="mobileMenu__link">Этапы работ</a>
            <a href="#" class="mobileMenu__link">Контакты</a>
          </div>
        </div>
        <div class="mobileMenu__block mobileMenu__block--service">
          <h3 class="mobileMenu__title">Услуги</h3>

          <div class="mobileMenu__menu">
            <a href="" class="mobileMenu__link--service"
              >Отопительные системы</a
            >
            <a href="" class="mobileMenu__link--service"
              >Системы водоснабжения</a
            >
            <a href="" class="mobileMenu__link--service">Системы канализации</a>
            <a href="" class="mobileMenu__link--service"
              >Инженерное проектирование</a
            >
            <a href="" class="mobileMenu__link--service">Подбор оборудования</a>
            <a href="" class="mobileMenu__link--service"
              >Гарантийное и постгарантийное обслуживание</a
            >
            <a href="" class="mobileMenu__link--service"
              >Установка чистовой сантехники</a
            >
          </div>
        </div>
        <div class="mobileMenu__block mobileMenu__block--contacts">
          <h3 class="mobileMenu__title">Контакты</h3>

          <div class="mobileMenu__list">
            <a
              class="mobileMenu__link"
              href="https://www.instagram.com/teplotehnika_24/"
              ><img src="../img/header/instagram.svg" alt="instagram"
            /></a>
            <a class="mobileMenu__link" href="tel:+79063180616"
              ><img src="../img/header/phone.svg" alt="phone"
            /></a>
            <a class="mobileMenu__link" href="https://wa.me/79063180616"
              ><img src="../img/header/whatsapp.svg" alt="whatsapp"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
