<section id="portfolio" class="portfolio">
  <div class="wrapper">
    <div class="portfolio__box">
      <h2 class="portfolio__title">Портфолио</h2>
      <p class="portfolio__description">
        Ознакомьтесь с работами нашей команды, чтобы убедиться в качестве
        выполняемой работы
      </p>
      <div class="portfolio__slider owl-carousel">
        <div class="portfolio__slide">
          <img
            src="../img/portfolio/work_1/IMG_2126.jpg"
            alt=""
            class="portfolio__img"
          />

          <div class="portfolio__info">
            <h4 class="portfolio__city">г. Саратов</h4>
            <h2 class="portfolio__slideTitle">Дом 200 м² в Заводском районе</h2>

            <ul class="portfolio__list">
              <li class="portfolio__item">Монтаж профлиста</li>
              <li class="portfolio__item">
                Устройство кровельного пирога с ПВХ мембранной
              </li>
              <li class="portfolio__item">Устройство водосточной системы</li>
            </ul>

            <div class="portfolio__characteristics">
              <div class="portfolio__characteristic">
                <span class="portfolio__characteristicTitle"
                  >Затраченное время:</span
                >
                <span class="portfolio__characteristicValue">2 недели</span>
              </div>

              <div class="portfolio__characteristic">
                <span class="portfolio__characteristicTitle">Цена:</span>
                <span class="portfolio__characteristicValue">650 000 руб</span>
              </div>
            </div>

            <button type="button" class="portfolio__btn">Подробнее</button>
          </div>

          <div class="portfolio__miniCarousel">
            <img
              class="portfolio__miniPhoto"
              src="../img/portfolio/work_1/IMG_2126.jpg"
              alt="..."
            />
            <img
              class="portfolio__miniPhoto"
              src="../img/portfolio/work_1/IMG_2127.jpg"
              alt="..."
            />
            <img
              class="portfolio__miniPhoto"
              src="../img/portfolio/work_1/IMG_2125.jpg"
              alt="..."
            />
            <img
              class="portfolio__miniPhoto"
              src="../img/portfolio/work_1/IMG_2129.jpg"
              alt="..."
            />
            <img
              class="portfolio__miniPhoto"
              src="../img/portfolio/work_1/IMG_2130.jpg"
              alt="..."
            />
            <img
              class="portfolio__miniPhoto"
              src="../img/portfolio/work_1/IMG_2132.jpg"
              alt="..."
            />
            <img
              class="portfolio__miniPhoto"
              src="../img/portfolio/work_1/IMG_2133.jpg"
              alt="..."
            />
            <img
              class="portfolio__miniPhoto"
              src="../img/portfolio/work_1/IMG_2134.jpg"
              alt="..."
            />
            <img
              class="portfolio__miniPhoto"
              src="../img/portfolio/work_1/IMG_2135.jpg"
              alt="..."
            />
            <img
              class="portfolio__miniPhoto"
              src="../img/portfolio/work_1/IMG_2136.jpg"
              alt="..."
            />
            <img
              class="portfolio__miniPhoto"
              src="../img/portfolio/work_1/IMG_2901.jpg"
              alt="..."
            />
          </div>
        </div>

        <div class="portfolio__slide">
          <img
            src="../img/portfolio/work_3/1615517839588.jpg"
            alt=""
            class="portfolio__img"
          />

          <div class="portfolio__info">
            <h4 class="portfolio__city">г. Саратов</h4>
            <h2 class="portfolio__slideTitle">Дом из сруба, 120 м²</h2>

            <ul class="portfolio__list">
              <li class="portfolio__item">Монтаж профлиста</li>
              <li class="portfolio__item">
                Устройство кровельного пирога с ПВХ мембранной
              </li>
              <li class="portfolio__item">Устройство водосточной системы</li>
            </ul>

            <div class="portfolio__characteristics">
              <div class="portfolio__characteristic">
                <span class="portfolio__characteristicTitle"
                  >Затраченное время:</span
                >
                <span class="portfolio__characteristicValue">3 недели</span>
              </div>

              <div class="portfolio__characteristic">
                <span class="portfolio__characteristicTitle">Цена:</span>
                <span class="portfolio__characteristicValue">600 000 руб</span>
              </div>
            </div>

            <button type="button" class="portfolio__btn">Подробнее</button>
          </div>

          <div class="portfolio__miniCarousel">
            <img
              class="portfolio__miniPhoto"
              src="../img/portfolio/work_3/1616607591249.jpg"
              alt="..."
            />
            <img
              class="portfolio__miniPhoto"
              src="../img/portfolio/work_3/1616607591264.jpg"
              alt="..."
            />
            <img
              class="portfolio__miniPhoto"
              src="../img/portfolio/work_3/1616607591270.jpg"
              alt="..."
            />
            <img
              class="portfolio__miniPhoto"
              src="../img/portfolio/work_3/2021-03-23 16-36-29.JPG"
              alt="..."
            />
            <img
              class="portfolio__miniPhoto"
              src="../img/portfolio/work_3/2021-03-23 16-37-42.JPG"
              alt="..."
            />
            <img
              class="portfolio__miniPhoto"
              src="../img/portfolio/work_3/22603.JPEG"
              alt="..."
            />
          </div>
        </div>

        <div class="portfolio__slide">
          <img
            src="../img/portfolio/work_4/IMG_1692.jpg"
            alt=""
            class="portfolio__img"
          />

          <div class="portfolio__info">
            <h4 class="portfolio__city">г. Саратов</h4>
            <h2 class="portfolio__slideTitle">Квартира в ЖК "Волга Скай"</h2>

            <ul class="portfolio__list">
              <li class="portfolio__item">Монтаж профлиста</li>
              <li class="portfolio__item">
                Устройство кровельного пирога с ПВХ мембранной
              </li>
              <li class="portfolio__item">Устройство водосточной системы</li>
            </ul>

            <div class="portfolio__characteristics">
              <div class="portfolio__characteristic">
                <span class="portfolio__characteristicTitle"
                  >Затраченное время:</span
                >
                <span class="portfolio__characteristicValue">3 недели</span>
              </div>

              <div class="portfolio__characteristic">
                <span class="portfolio__characteristicTitle">Цена:</span>
                <span class="portfolio__characteristicValue">-</span>
              </div>
            </div>

            <button type="button" class="portfolio__btn">Подробнее</button>
          </div>

          <div class="portfolio__miniCarousel">
            <img
              class="portfolio__miniPhoto"
              src="../img/portfolio/work_4/IMG_1660.jpg"
              alt="..."
            />
            <img
              class="portfolio__miniPhoto"
              src="../img/portfolio/work_4/IMG_1662.jpg"
              alt="..."
            />
            <img
              class="portfolio__miniPhoto"
              src="../img/portfolio/work_4/IMG_1664.jpg"
              alt="..."
            />
            <img
              class="portfolio__miniPhoto"
              src="../img/portfolio/work_4/IMG_1670.jpg"
              alt="..."
            />
            <img
              class="portfolio__miniPhoto"
              src="../img/portfolio/work_4/IMG_1705.jpg"
              alt="..."
            />
            <img
              class="portfolio__miniPhoto"
              src="../img/portfolio/work_4/IMG_1704.jpg"
              alt="..."
            />
            <img
              class="portfolio__miniPhoto"
              src="../img/portfolio/work_4/IMG_1711.jpg"
              alt="..."
            />
            <img
              class="portfolio__miniPhoto"
              src="../img/portfolio/work_4/IMG_1708.jpg"
              alt="..."
            />
          </div>
        </div>
      </div>

      <div class="portfolio__controls"></div>
    </div>
  </div>
</section>
