<section id="reviews" class="reviews">
  <div class="wrapper">
    <div class="reviews__box">
      <h2 class="reviews__title">Отзывы наших клиентов</h2>

      <div class="reviews__quotes"></div>

      <div class="reviews__slider">
        <div class="reviews__slide">
          <p class="reviews__text">
            Недавно установили в квартиру сигнализацию Super Safer. Нравится
            обслуживание, цены адекватные. Само оборудование современное,
            выглядит стильно и никак не портит в квартире интерьер.
          </p>
          <span class="reviews__author">Иван Иванов</span>
          <span class="reviews__service">Услуга монтажа</span>
        </div>

        <div class="reviews__slide">
          <p class="reviews__text">
            Недавно установили в квартиру сигнализацию Super Safer. Нравится
            обслуживание, цены адекватные. Само оборудование современное,
            выглядит стильно и никак не портит в квартире интерьер.
          </p>
          <span class="reviews__author">Сергей Владимирович</span>
          <span class="reviews__service">Профлист</span>
        </div>

        <div class="reviews__slide">
          <p class="reviews__text">
            Недавно установили в квартиру сигнализацию Super Safer. Нравится
            обслуживание, цены адекватные. Само оборудование современное,
            выглядит стильно и никак не портит в квартире интерьер.
          </p>
          <span class="reviews__author">Василий Островский</span>
          <span class="reviews__service"></span>
        </div>
      </div>

      <div class="reviews__controls"></div>
    </div>
  </div>
</section>
