<section id="services" class="services">
  <div class="wrapper">
    <div class="services__box">
      <h2 class="services__title">Наши услуги</h2>
      <p class="services__description">
        У нас вы найдете все услуги, необходимые для качественного и быстрого
        монтажа отопления
      </p>
      <div class="services__cards">
        <a href="#contacts" class="services__card">
          <img
            src="../img/service/heating.jfif"
            alt=""
            class="services__cardImg"
          />
          <div class="services__cardInfo">
            <h3 class="services__cardTitle">Отопительные системы</h3>
            <p class="services__cardText">
              Главное условие при выборе отопительной системы — ее способность
              создать комфортные условия для проживания в доме
            </p>
            <button class="services__cardBtn">Консультация</button>
          </div>
        </a>

        <a href="#contacts" class="services__card">
          <img
            src="../img/service/pipes.jpg"
            alt=""
            class="services__cardImg"
          />

          <div class="services__cardInfo">
            <h3 class="services__cardTitle">Системы водоснабжения</h3>
            <p class="services__cardText">
              Наша компания применяет новейшие технологии и оборудование, с
              помощью которых выполняется монтаж внутренних систем водоснабжения
            </p>
            <button class="services__cardBtn">Консультация</button>
          </div>
        </a>

        <a href="#contacts" class="services__card">
          <img
            src="../img/service/toilet.jfif"
            alt=""
            class="services__cardImg"
          />
          <div class="services__cardInfo">
            <h3 class="services__cardTitle">Системы канализации</h3>
            <p class="services__cardText">
              Монтаж труб канализации наши специалисты выполняют уже не один
              год, поэтому они смогли получить необходимый опыт и с легкостью
              решают различные трудности
            </p>
            <button class="services__cardBtn">Консультация</button>
          </div>
        </a>

        <a href="#contacts" class="services__card">
          <img
            src="../img/service/engineering_design.jpg"
            alt=""
            class="services__cardImg"
          />
          <div class="services__cardInfo">
            <h3 class="services__cardTitle">Инженерное проектирование</h3>
            <p class="services__cardText">
              Наличие проекта и надлежащее качество его исполнения —
              значительный вклад в положительный конечный результат
            </p>
            <button class="services__cardBtn">Консультация</button>
          </div>
        </a>

        <a href="#contacts" class="services__card">
          <img
            src="../img/service/tools.jfif"
            alt=""
            class="services__cardImg"
          />
          <div class="services__cardInfo">
            <h3 class="services__cardTitle">Подбор оборудования</h3>
            <p class="services__cardText">
              Компания "Теплотехника24" осуществляет подборку конфигураций
              специализированного оборудования под конкретные цели, задачи и
              бюджет.
            </p>
            <button class="services__cardBtn">Консультация</button>
          </div>
        </a>

        <a href="#contacts" class="services__card">
          <img
            src="../img/service/service.jfif"
            alt=""
            class="services__cardImg"
          />
          <div class="services__cardInfo">
            <h3 class="services__cardTitle">
              Гарантийное и постгарантийное обслуживание
            </h3>
            <p class="services__cardText">
              Специалисты нашей компании осуществляют гарантийное обслуживание
              всего комплекса оборудования, запущенного нашей, либо сторонней
              компанией
            </p>
            <button class="services__cardBtn">Консультация</button>
          </div>
        </a>

        <a href="#contacts" class="services__card">
          <img
            src="../img/service/plumbing.jfif"
            alt=""
            class="services__cardImg"
          />
          <div class="services__cardInfo">
            <h3 class="services__cardTitle">Установка чистовой сантехники</h3>
            <p class="services__cardText">
              Установка сантехники – ответственный и трудоемкий процесс. Поэтому
              чаще всего наилучшим выходом из сложившейся ситуации будет вызов
              частных специалистов
            </p>
            <button class="services__cardBtn">Консультация</button>
          </div>
        </a>
      </div>

      <button class="services__more">Показать еще</button>
    </div>
  </div>
</section>
