<section id="stages" class="workStages">
  <div class="wrapper">
    <div class="workStages__box">
      <h2 class="workStages__title">Этапы работ</h2>

      <div class="workStages__stages">
        <div class="workStages__stage">
          <div class="workStages__icon">
            <img src="../img/stages/pen.svg" alt="" />
          </div>
          <div class="workStages__info">
            <span class="workStages__time">2 мин.</span>
            <p class="workStages__description">
              Вы оставляете заявку на сайте или по телефону
            </p>
          </div>
        </div>

        <div class="workStages__stage">
          <div class="workStages__icon">
            <img src="../img/stages/car.svg" alt="" />
          </div>
          <div class="workStages__info">
            <span class="workStages__time"></span>
            <p class="workStages__description">
              Специалист приезжает на объект
            </p>
          </div>
        </div>

        <div class="workStages__stage">
          <div class="workStages__icon">
            <img src="../img/stages/calculator.svg" alt="" />
          </div>
          <div class="workStages__info">
            <span class="workStages__time"></span>
            <p class="workStages__description">
              Делается проект отопления, рассчет его стоимости
            </p>
          </div>
        </div>

        <div class="workStages__stage">
          <div class="workStages__icon">
            <img src="../img/stages/house.svg" alt="" />
          </div>
          <div class="workStages__info">
            <span class="workStages__time"></span>
            <p class="workStages__description">
              Реализуются пусконаладочные работы.
            </p>
          </div>
        </div>

        <div class="workStages__stage">
          <div class="workStages__icon">
            <img src="../img/stages/settings.svg" alt="" />
          </div>
          <div class="workStages__info">
            <span class="workStages__time"></span>
            <p class="workStages__description">
              Монтируется система отопления под ключ
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
