@charset "UTF-8";

/*Кнопка меню*/

/*В разметке обязательно должна иметь внутренний span */

/*<button class="burger"><span></span></button>*/

.contacts__btn {
  border-radius: 3px;
  padding: 20px 50px;
  font-weight: bold;
  font-size: 16px;
  width: 220px;
  color: white;
  background-color: #49749e;
  transition: all 0.3s ease;
}

.contacts__btn:hover {
  background-color: #41678d;
}

.contacts {
  background: url(../img/contacts/contacts_bg.png) linear-gradient(180deg, rgba(19, 104, 193, 0.6) 0%, rgba(21, 110, 204, 0.6) 100%) no-repeat;
  background-size: 100%;
  margin-bottom: 0;
}

.contacts__box {
  padding-top: 60px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts__content {
  display: flex;
  width: 80%;
}

.contacts__request {
  background-color: white;
  width: 60%;
}

.contacts__block {
  padding: 40px;
}

.contacts__block:first-child {
  border-radius: 3px 0 0 3px;
}

.contacts__block:last-child {
  border-radius: 0 3px 3px 0;
}

.contacts__requestTitle {
  margin-bottom: 15px;
  color: #1c7ade;
}

.contacts__requestDescription {
  color: #343434;
  margin-bottom: 25px;
}

.contacts__input {
  border-bottom: 1px solid #1c7ade;
  margin-bottom: 10px;
  width: 70%;
  height: 45px;
}

.contacts__input:focus {
  box-shadow: 0 0 15px #e316b0;
}

.contacts__input._error {
  box-shadow: 0 0 15px red;
}

.contacts__form {
  display: flex;
  flex-direction: column;
}

.contacts__btn {
  background-color: #1c7ade;
  margin-top: 30px;
}

.contacts__btn:hover {
  background-color: #1661b1;
}

.contacts__title {
  color: white;
  margin-bottom: 15px;
}

.contacts__connect {
  background-color: #1c7ade;
  width: 40%;
}

.contacts__description {
  margin-bottom: 25px;
  color: white;
}

.contacts__socials {
  margin-bottom: 25px;
  color: white;
  display: flex;
  align-items: center;
  letter-spacing: 0.09em;
}

.contacts__socials:last-child {
  margin-bottom: 0;
}

.contacts__socials svg {
  width: 34px;
  height: 34px;
  margin-right: 10px;
}

.contacts__socials--phone {
  color: white;
}

@media (max-width: 1024px) {
  .contacts__content {
    flex-wrap: wrap;
    width: 60%;
  }

  .contacts__block {
    width: 100%;
    padding: 30px;
  }

  .contacts__block:first-child {
    border-radius: 3px 3px 0 0;
  }

  .contacts__block:last-child {
    border-radius: 0 0 3px 3px;
  }

  .contacts__input {
    width: 100%;
  }
}

@media (max-width: 414px) {
  .contacts__content {
    width: 100%;
  }

  .contacts__socials {
    font-size: 14px;
  }
}